PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mytofy
REDIS_URL=redis://localhost:6379
CORS_ORIGIN=http://localhost:5173
ACCESS_TOKEN_SECRET=your_super_secret_key_here
ACCESS_TOKEN_EXPIRY=1d
YOUTUBE_API_KEY=your_youtube_api_key_here
NODE_ENV=development
